<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true" internalLogToConsoleError="true">
    <variable name="logDirectory" value="${basedir}/logs"/>
    <targets>
        <target name="console" xsi:type="ColoredConsole" layout="${level} ${message}">
        </target>
        <target name="Error" xsi:type="File" fileName="${logDirectory}/${shortdate}-error.log" encoding="utf-8">
            <layout xsi:type="CSVLayout" delimiter="Tab">
                <column name="stacktrace" layout="${stacktrace}" />
                <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
                <column name="level" layout="${level}"/>
                <column name="message" layout="${message}"/>
                <column name="exception" layout="${exception}"/>
            </layout>
        </target>
        <target name="Info" xsi:type="File" fileName="${logDirectory}/${shortdate}-info.log" encoding="utf-8">
            <layout xsi:type="CSVLayout" delimiter="Tab">
                <column name="stacktrace" layout="${stacktrace}" />
                <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
                <column name="level" layout="${level}"/>
                <column name="message" layout="${message}"/>
                <column name="exception" layout="${exception}"/>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="console"></logger>
        <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="info"></logger>
        <logger name="*" minlevel="Error" writeTo="Error"></logger>
    </rules>
</nlog>